.article-header {
  background-color: blue;
  color: #fff;
  border: 3px solid transparent;
  text-align: center;
}

.section-content {
  margin: 15px 10% 10%;
}

.add-employee-btn {
  float: right;
  margin-bottom: 5px;
}
